* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Roboto Slab', serif;
}

html {
  height: 100vh;
}

body {
  background-color: #eeeeee;
  scroll-behavior: smooth;
}

.navbar_bg {
  background-color: #0a0a0c;
  height: 6rem; /* Achico navbar para que pueda entrar el banner */
}

.navbar_bg-store {
  background-color: #0a0a0c;
  height: 9rem;
}

.nav_logo {
  width: 130px;
  height: 120px;
}

.nav-links {
  color: #f2f2fc;
  font-family: 'Alfa Slab One', cursive;
  font-size: 1.3rem;
  font-weight: 100;
  text-decoration: none;
}


/* Banner */

.banner_bg{
  background-image: url("./images/inicio/navbar-bg.png");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 700px;
}

.banner_text {
  color: #f2f2fc;
  flex-direction: column;
}

.banner_text h1 {
  font-family: 'Alfa Slab One';
  font-size: 4rem;
  font-style: italic;
  color: #b30c0b;
}

.banner_text p {
  font-size: 1.5rem;
  font-weight: 500;
}

/* Pelota de Basquet */

@keyframes example {
  90% {
    height: 30px;
  }
  100%{ 
    transform: translateY(20px);
    height: 27px;
  }
}

.basket-ball {
  position: absolute;
  overflow: hidden;
  margin-top: -70px; 
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #b30c0b;
  background: -webkit-radial-gradient(center ellipse, #b30c0b 0%, #780a07 100%);
  background: radial-gradient(ellipse at center, #b30c0b 0%, #780a07 100%);
  box-sizing: border-box;
  box-shadow: 10px 20px 25px 10px rgba(0, 0, 0, 0.2);
  transform:scaleX(0);
}
.basket-ball:before, .basket-ball:after {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  border: solid 1px #0d0d0d;
  border-radius: 50%;
  box-sizing: border-box;
}
.line1{
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  border-right: solid 1px #0d0d0d;
  box-sizing: border-box;
  right:50%;
}

.line2{
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  border-top: solid 1px #0d0d0d;
  box-sizing: border-box;
  top:50%;
}

.basket-ball:before {
  right: 70%;
}
.basket-ball:after {
  left: 70%;
}

li div:hover {
  color: #f2f2fc!important;
}

li a:hover .basket-ball {
  transform:scaleX(1);
  animation: example 0.5s alternate infinite ease-in;
}

/* Seccion de iconos */

.icon_section {
  background-color: #f2f2fc;
  width: 100%;
  height: 200px;
}

.icon_section p {
  color: #0a0a0c;
  text-align: center;
  width: 400px;
}

.icon_section h3 {
  font-size: 1.5rem;
  font-family: 'Merriweather', serif;
  text-align: center;
  color: #0a0a0c;
}

.icon_color {
  color:#b30c0b;
  font-size: 2.5rem;
  display: block;
  margin: auto;
  padding: 10px;
}

.icon_margin {
  margin-top: 20px;
}


/* Seccion Nosotros */

.us_section_bg {
  background-image: url("./images/inicio/lebron3.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 700px;
}

.us_texto {
  margin-top: -50px;
  text-align: center;
  background-color: #eeeeee;
  border-radius: 100px;
  height: 135px;
  padding: 20px;
}

.us_texto2 {
  margin-top: 200px;
  text-align: center;
  background-color: #eeeeee;
  border-radius: 100px;
  height: 135px;
  padding: 20px;
}

.us_font {
  color: #b30c0b;
  font-size: 2.1rem;
  font-family: 'Alfa Slab One', cursive;
}

.us_section {
  background-color: #0a0a0c;
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
}

.us_image img {
  border-radius: 40%;
}

.us_container {
  position: absolute;
  left: 600px;
  flex-direction: column;
  text-align: center;
  width: 600px;
  margin-top: 50px;
  background-color: #f2f2fc;
  padding: 20px;
  border-radius: 40px;
}

.us_container h2 {
  color: #0a0a0c;
  font-family: 'Merriweather', serif;
  text-decoration: underline;
}

.us_container p {
  color: #0a0a0c;
}

.us_container h3 {
  color: #0a0a0c;
  font-family: 'Merriweather', serif;
  letter-spacing: 2px;
}

/* Boton "ir a tienda" */

.btn_store {
  width: 180px;
  height: 50px;
  position: relative;
  display: inline-flex;
	align-items: center;
	justify-content: center;
  transition: .3s ease all;
  border: none;
	border-radius: 5px;
  background-color: #b30c0b;
  box-shadow: 2px 2px #0a0a0c;
}

.btn_store:hover {
  background-color: #f2f2fc;
  box-shadow: 1px 1px 1px 2px #0a0a0c;
}

.btn_store:hover .btn_store-icono {
  left: calc(100% - 50px);
  opacity: 1;
}

.btn_store:hover div svg {
  color: #b30c0b;
}

.btn_store:hover span {
  left: 20px;
  color: #b30c0b;
}

.btn_store-icono {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: -20px;
  transition: .3s ease-in-out;
  opacity: 0;
}

.btn_store div svg {
  color: #f2f2fc;
  width: 35px;
  height: 35px;
} 

.btn_store span {
  transition: .4s ease-in-out all;
  position: absolute;
  left: 20%;
  color: #f2f2fc;
  font-size: 1.1rem;
}

/* Botones compras */

.button_container {
  margin-right: 30px;
}

.button_container span {
  position: absolute;
  font-size: 2rem;
  margin-right: 20px;
}

.button_container :last-child {
  margin-left: 35px;
}

.button_plus-minus {
  border: none;
  margin-right: 20px;
  box-shadow: 0 0 10px;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  background-color: #b30c0b;
  color: #f2f2fc;
  box-shadow: 1px 1px 4px black;
}

.button_disabled {
  border: none;
  margin-right: 20px;
  box-shadow: 0 0 10px;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  background-color: #c9c1c1;
  color: #646262;
  box-shadow: 1px 1px 4px black;
}

.button_add {
  border: none;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 30px;
  width: 17rem;
  height: 3rem;
  background-color: #b30c0b;
  color: #f2f2fc;
  box-shadow: 1px 1px 4px black;
}

.button_add:hover {
  box-shadow: 0 4px 16px rgb(17, 18, 19);
  transition: all 0.2s ease;
  background-color: #a10a0a;
}

.button_add-inactive {
  border: none;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 30px;
  width: 17rem;
  height: 3rem;
  background-color: #c9c1c1;
  color: #646262;
  box-shadow: 1px 1px 4px black;
}

.button_finish {
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 30px;
  width: 15rem;
  height: 3rem;
  background-color: #b30c0b;
  color: #f2f2fc;
  margin-right: 1rem;
  box-shadow: 1px 1px 4px black;
}

/* Productos */
/* Cards */

.section_card {
    width: 18rem;
    margin-top: 50px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset; 
    background-color: #eeeeee!important;
}

.section_card:hover {
  transform: scale(1.048);
  transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.section_card img  {
  backface-visibility: hidden;
}

.card_link {
  text-decoration: none;
}

.card_icon {
  font-size: 1.3rem;
  color: #00a650;
  margin-right: 6px;
}

.card_text {
  color: #00a650;
}

/* Detalle */

.item_zoom {
  width: 700px;
  height: 480px;
  z-index: 2;
}

.item_zoom-buzos {
  z-index: 2;
  margin-bottom: 70px;
}

.item_detail {
  margin-left: 40px;
}

.item_detail_title {
  font-size: 2.2rem;
}

.item_detail_price {
  font-size: 2rem;
}

.item_detail_description {
  font-size: 1.8rem;
  margin-top: 30px;
}

.spinner {
  border: 6px solid #a7a7ac;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-left-color: #b30c0b;
  animation: spin 1s linear infinite;

  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Seccion Carrito */

.cart_list div {
  padding: 10px;
}

.cart_list div div img {
  height: 200px;
}

.cart_list div div div {
  margin-top: 30px;
}

.cart_list div div div span {
  padding: 20px;
}

.cart_list-total {
  text-align: center;
  margin-top: 20px;
}

.cart_remove-item-cont {
  padding: 20px!important;
}

.cart_height {
  min-height: calc(100vh - 9rem - 9rem);
}

.cart_height2 {
  min-height: calc(100vh - 9rem - 9rem - 25rem);
}

.cart_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cart_text-container {
  text-align: center;
  width: 400px;
}

.cart_image img{
  width: 250px;
  height: 250px;
}

.cart_button-clear {
  border: none;
  box-shadow: 1px 1px 4px black;
  border-radius: 6px;
  height: 3rem;
  font-weight: bold;
  width: 8.5rem;
  background-color: #b30c0b;
  color: #f2f2fc;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 4px;
}

.cart_button-clear:hover {
  box-shadow: 0 4px 16px rgb(17, 18, 19);
  transition: all 0.2s ease;
  background-color: #a10a0a;
}

.cart_remove-item {
  border: none;
  box-shadow: 1px 1px 4px;
  font-size: 1.5rem;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  background-color: #b30c0b;
}

.cart_remove-item:hover {
  box-shadow: 0 4px 16px rgb(17, 18, 19);
  transition: all 0.2s ease;
  background-color: #a10a0a;
}

.cart_remove-item-i {
  color: #f2f2fc;
  font-size: 1.5rem;
}

.cart_resumen {
  border: 1px solid black;
  width: 600px;
  height: 340px;
  background-color: #dfd9d5;
  color: #0a0a0c;
  font-family:Arial, Helvetica, sans-serif;
  margin-top: 40px;
}

.cart_resumen h3 {
  text-align: center;
  margin-top: 14px;
  text-decoration: underline;
}

.cart_resumen div {
  padding: 14px;
  font-size: 1.5rem;
}

.btn_terminar-compra {
  border: none;
  box-shadow: 1px 1px 4px black;
  font-size: 1.2rem;
  border-radius: 6px;
  height: 3.5rem;
  width: 14rem;
  font-weight: bold;
  background-color: #b30c0b;
  color: #f2f2fc;
}

.btn_terminar-compra:hover {
  box-shadow: 0 4px 16px rgb(17, 18, 19);
  transition: all 0.2s ease;
  background-color: #a10a0a;
}

/* Footer */

.footer_bg {
  background-color: #0a0a0c;
}

.footer_bg div {
  height: 9rem;
}

.footer_menu {
  color: #eeeeee;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
}

.footer_menu:hover {
  color: #780a07;
}

.footer_menu-border {
  border-right: 2px solid #eeeeee;
}

.footer_wp-icon {
  color:#eeeeee;
  font-size: 2.5rem;
  margin-right: 20px;
}

.footer_wp-icon:hover {
  color: #780a07;
}

.footer_ig-icon {
  color: #eeeeee;
  font-size: 2.5rem;
}

.footer_ig-icon:hover {
  color: #780a07;
}
